<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  {% block head %}{% endblock %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  {# <link rel="stylesheet" href="https://storage.googleapis.com/integral-kit-156308.appspot.com/jumbotron-narrow.css"> #}
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"><a href="{{ url_for('courses_view') }}">Courses</a></li>
          <li role="presentation"><a href="{{ url_for('show_listings') }}">Listings</a></li>
          <li role="presentation"><a href="{{ user_url }}">{{ action }}</a></li>
        </ul>
      </nav>
      <h3>Bookslug</h3>
    </div>

    {% block body %}{% endblock body %}

    <footer class="footer">
      <p>Hack UCSC 2017 • <a href="https://github.com/natanlao/bookslug">GitHub</a></p>
    </footer>

  </div> <!-- /container -->
</body>
</html>