{% extends "_base.html" %}
{% block title %}Bookslug{% endblock %}
{% block body %}
    <div class="jumbotron">
      <h1>Textbooks for students, from students.</h1>
      <p class="lead">Bookslug matches you with people on campus who have the textbooks you need at the prices you want.</p>
      <p><a class="btn btn-lg btn-success" href="{{ user_url }}" role="button">Sign up</a></p>
    </div>

    <div class="row marketing">
      <div class="col-lg-6">
        <h4>Stop paying</h4>
        <p>Textbook prices have risen almost 800% over the last 30 years! Use Bookslug to find textbooks from your peers at reasonable prices.</p>

        <h4>Stop waiting</h4>
        <p>The days of waiting weeks for textbooks to ship are over. Bookslug matches you with students from your campus, so you can get them in minutes.</p>

        <h4>Stop guessing</h4>
        <p>By trading with people who have the same classes and professors as you, you can be sure you're getting the right books.</p>
      </div>

      <div class="col-lg-6">
        <h4>Start saving</h4>
        <p>According to the College Board, the average college student spends $1,200 a year on textbooks and supplies. Save money by bypassing textbook publishers with Bookslug.</p>

        <h4>Start selling</h4>
        <p>Get rid of your old textbooks in days, not months, by advertising directly to students about to take the class you just took.</p>

        <h4>Subheading</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div>
    </div>
{% endblock %}